<h1><%- title %></h1>
<%- messages() %>
<form>
<label for="email">Email:</label>
<input type="email" id="email" placeholder="example@gmail.com" name="account_email">
<label for="password">Password:</label>
<input type="password" id="password" name="account_password">
<input type="submit" value="Login" class="button">
<p>No account? <a href="/account/signUp/">Sign-up</a></p>
</form>