<nav>
    <a href="/" class="button">Home</a>
    <a href="#" class="button">Custom</a>
    <a href="#" class="button">Sedan</a>
    <a href="#" class="button">SUV</a>
    <a href="#" class="button">Truck</a>
</nav>