<section>
    <h2>Welcome to CSE Motors</h2>
    <img src="/images/vehicles/delorean.jpg" alt="Delorean Car image" class="hero">
    <div class="overlay">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice</p>
        <a class="button">Own Today</a>
    </div>
</section>
<div class="flex">
    <section>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So Fast it's almost like traveling through time!"(4/5)</li>
            <li>"Coolest ride on the road!"(4/5)</li>
            <li>"I'm feeling McFly"(5/5)</li>
            <li>"More Futuristic then Tesla"(4.5/5)</li>
            <li>"80's livin and I'm lovin it"(5/5)</li>
        </ul>
    </section>
    <section>
        <h2>Delorean Upgrades</h2>
        <div class="grid">
            <figure>
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="Image of a flux capacitor">
                </div>
                <a href="#">Flux Capacitor</a>
            </figure>
            <figure>
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="Image of a Flame">
                </div>
                <a href="#">Flame Decals</a>
            </figure>
            <figure>
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="image of a bumper sticker">
                </div>
                <a href="#">Bumper Stickers</a>
            </figure>
            <figure>
                <div>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Picture of a Hub Cap">
                </div>
                <a href="#">Hub Caps</a>
            </figure>
        </div>
    </section>
</div>