<h1><%- title %></h1>
<%- messages() %>
<section>
    <h2>Classifications</h2>
    <%- classification %>
    <a class="button" href="/site-name/inv/add-classification">Add Classification</a>
</section>
<section>
    <h2>Inventory</h2>
    <%- inventory %>
    <a class="button" href="/site-name/inv/addInventory">Add Inventory</a>
</section>